@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* { /*reset browser*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

form {
  display: flex;
  padding-bottom: 8vh;
  width: 20vw !important;
  position: static;
  font-family: 'Prompt', sans-serif;
}